html{
}
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  background: #f8f8f8;
  width: 100%;
  height: 200%;
}
::selection {
  color: white;
  background: black;
}
::-webkit-scrollbar {
  width: 0.5em;
  background-color: #1D1D1D;
}
 
::-webkit-scrollbar-track {
  border-radius: 50px;
}
 
::-webkit-scrollbar-thumb {
  background-color: #999999;
   border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #CCCCCC;
}
/** XGAME **/
h1 {
  position: absolute;

  left: 40%;
  margin-top: 3vw;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 5.2vw;
  color: #F8F8F8;
}
/** __________________**/


/** Каталог**/
h2{

  position: relative;
  width: 50%;
  left: 43.8%;
  margin-top: 1%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 3vw;
  color: #1D1D1D;

}
/** __________________**/


/** Header **/
.s-header {
  width: 100%;
  height: 14vw;
  background: #1D1D1D;
  background-size: cover;
  color: #ffffff;
}

.s-header p {

  position: absolute;
  width: 21%;
  left: 39.5%;
  margin-top: 9vw;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  text-align: center;
  color: #F8F8F8;
  
}

/** Меню - Главная_Каталог_Контакты*/
.navbar {
  margin-top: -10px;
  width: 100%;
  background-color: #1D1D1D;
  overflow: auto;
  z-index: 1;
}

.navbar a {
  display: block;
  float: left;
  text-align: center;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  top: 0;
  transform: none;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #FF6699;
}

.content {
  padding: 1%;
} 

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

ul {

  list-style-type: none;

}


a { color: inherit;
  text-decoration: none;
} 
/** __________________**/

/** Большая Карточка  **/

.main-game-card {
  position: relative;
  width: 69.8vw;
  background:  #1D1D1D;
  margin-left: 15.3%;
  font-family: "Montserrat";
  border-radius: 10px;
  transition: transform .5s ease;
}

.main-game-card:hover {
   border: 2px solid #FF6699;
    -webkit-transform: scale(1.05);
   -ms-transform: scale(1.05);
   transform: scale(1.05);
  
}

.main-game-card img {
   display: block;
   width: 100%;
   border-radius: 10px;
}

.game-main {
  width: 100%;
  height: 4.7vw;
  position: relative;
  margin-top: -6.8%;
  border-radius: 10px;
  background: rgba(29, 29, 29, 70%);
  box-shadow: 0px -20px 20px rgba(29, 29, 29, 70%);
}

.game-main h3 {

  font-size: 1.6vw;
  font-weight: 700;
  color: #F8F8F8;
  margin: 0px 0px 0px 4%;
}

.price-main {
  font-size: 1.3vw;
  font-weight: 700;
  color: #FF6699;
  display: block;
  margin-left: 4%;
  margin-bottom: 12px;
}

.button-main{
   position: relative;
   text-decoration: none;
   display: inline-block;
   margin-left: 86%;
   margin-top: -5%;
   padding: 1vw 2vw;
   background: #1D1D1D;
   color: white;
   text-transform: uppercase;
   font-size: 0.7vw;
   transition: .3s ease-in;
   border-radius: 5%;
}

.main-game-card:hover .button-main {
   background: #fc5a5a;
}

/** __________________**/


/** Карточка N1 **/

.game-card {
  width: 20%;
  margin-top: 4%;
  position: absolute;
  text-align: center;
  background: #1D1D1D;
  margin-left: 15%;
  font-family: "Montserrat";
  border-radius: 10px;
  transition: transform .5s ease;
}

.game-card2 {
   width: 20%;
   margin-top: 4%;
   position: absolute;
   text-align: center;
   background:  #1D1D1D;
   margin-left: 40%;
   font-family: "Montserrat";
   border-radius: 10px;
   transition: transform .5s ease;
}


.game-card3 {
   width: 20%;
   margin-top: 4%;
   position: absolute;
   text-align: center;
   background:  #1D1D1D;
   margin-left: 65%;
   font-family: "Montserrat";
   border-radius: 10px;
    transition: transform .5s ease;
}

.game-card:hover, .game-card2:hover, .game-card3:hover {
   border: 2px solid #FF6699;
   border-radius: 10px;
   -webkit-transform: scale(1.05);
   -ms-transform: scale(1.05);
   transform: scale(1.05);
  
}

.game-card img, .game-card2 img, .game-card3 img {
   display: block;
   width: 100%;
   border-radius: 10px;
}

.game-list, .game-list2, .game-list3 {
   background: #1D1D1D;
   padding: 15px 0;
   border-radius: 10px;
}
.game-list h3, .game-list2 h3, .game-list3 h3 {
   font-size: 18px;
   font-weight: 400;
   color: #F8F8F8;
   margin: 0 0 10px 0;
}

.price, .price2, .price3 {
   font-size: 16px;
   color: #FF6699;
   display: block;
   margin-bottom: 12px;
}

.button, .button2, .button3 {
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: #1D1D1D;
   color: white;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 28px;
   transition: .3s ease-in;
   border-radius: 5%;
}

.game-card:hover .button, .game-card2:hover .button2, .game-card3:hover .button3 {
   background: #fc5a5a;
}
/** __________________**/



/** Футер **/
.footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 7%;
  background-color: #1D1D1D;
   text-align: center

}

.footer p{
  
  display: inline-block;
  color: white;
  font-size: 0.8vw;
  bottom: 0%;
  vertical-align: middle;
  padding: 10 20px;
}

/** __________________**/
.above {
    position: relative;
  width: 100%;
}

.above:hover .info-overlay{
  height: 100%;
}

.decription{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.decription p{;
  font-size: 15px;
}
.info-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(29,29,29, 70%);
  overflow: hidden;
  width: 100%;
  height: 0;
  border-radius: 10px;
  transition: .5s ease;
   cursor: pointer;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 5%;
  padding-bottom: 30%;
  left: 0;
  top: 0;
  width: 100%; 
  height: 80%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #1D1D1D;
  margin: auto;
  width: 80%;
  border-radius: 10px;
   padding-bottom: 50px;
}
.modal-content p { 
  width: 90%;
  position: relative;
  margin-top: -29px;
  color:  white;
  font-size: 17px;
  margin-left: 5%;
  text-align: left;
}

.modal-content h2 {
  position: relative;
  font-size: 50px;
  color: white;
  left: 5%;
  text-align: left;
}

.modal-content h3 {
  position: relative;
  font-size: 18px;
  font-weight: 550;
  color: white;
  margin-left: 5%;
  margin-right: 50%;
  margin-top: -2%;
   text-align: left;
}
.modal-content h4 {
  position: relative;
  margin-bottom: :10px;
  font-size: 25px;
  margin-left: 5%;
  color:  #FF6699;
   text-align: left;
}
.requirements {
  width: 100%;
  background: rgb(24,24,24);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
  position: relative;
  margin-left: 5%; 
  margin-top: 5%;
  right: 5%;
  color: white;
  font-size: 1%;
  float: none;
  text-align: left;
}

.requirements h3{
  margin-top: 5px;
  font-size: 30px;
}

.requirements p {
  line-height: 2 ;
  margin-top: 0 ;
  margin-bottom: 0 ;
}

.image {
  position: relative;
  margin-top: -32px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.close, .close1, .close2{
  z-index: 1;
  position: relative;
  top: 5px;
  right: 1%;
  float: right;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close1:hover, .close2:hover,
.close:focus, .close1:focus, .close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


